<div dir="rtl">
<a href="http://mazminim.com">
<img src="http://mazminim.com/assets/logo.png" width="240" height="50"/>
</a>
<p>You was invited</p> 
<%if !@answer.nil?%>	
	<%if @answer==1%>
	<p style="color: #0000FF"><b>Your answer is: YES</b></p>
	<%elsif @answer==2%>
	<p style="color: #FF00FF"><b>Your answer is: NO</b></p>	
	<%end%>	
<%end%>

<p>בכל שאלה אנא צרו עימנו קשר דרך האתר mazminim.com</p>

</div>