<div dir="rtl">
<img src="http://mazminim.com/assets/logo.png" width="210" height="50" />
<p>You was invited</p> 
<%if !@invite.nil?%>



<%end%>

<p>בכל שאלה אנא צרו עימנו קשר דרך האתר mazminim.com</p>

<a href="http://mazminim.com"></a>mazminim.com</a> צוות
</p>
</div>