<img src="http://mazminim.com/assets/logo.png" width="200" height="50" />
<p>Hello <%=@user.name%>.</p> 
<p>Welcome to mazminim.com!</p>
<p>Your username is <%=@user.email%></p>
<p>To start using our services point your browser to <a href="http://mazminim.com"></a>http://mazminim.com</a> and log into your account.</p>
<p>For any questions or concerns regarding service usage, please contact us via support page.</p>

<p>We hope you enjoy using our service</p>
<p>
Sincerely, 
<a href="http://mazminim.com"></a>mazminim.com</a> team
</p>
