<p>Hello <%=@user.name%>.</p> 
<p>Wellcome to mazminim. Your user name is: <%=@user.email%>, to start using our services browse to <%=root_path%> and enjoy.</p>
<p>For any problems or questions occurring during using service, contact us from support page or direct mail to:
	 <a href="mailto:mazminim.com@gmail.com">mazminim</a> 
</p>
