<img src="http://mazminim.com/assets/logo.png" width="200" height="50" />
<p>שלום <%=@user.name%>.</p> 
<p>ברוכים הבאים לאתר mazminim.com!</p>
<p>שם המשתמש שלך <%=@user.email%></p>
<p>על מנת להתחיל בשימוש בקרו ב- <a href="http://mazminim.com"></a>http://mazminim.com</a> והתחברו לחשבונכם</p>
<p>בכל שאלה אנא צרו עימנו קשר דרך האתר mazminim.com</p>

<p>מקווים לראותכם באתר!</p>
<p>
בברכה, 
<a href="http://mazminim.com"></a>mazminim.com</a> צוות
</p>
