<%=current_user.answer[0].title%>
<form class="form-horizontal">
					<div class="input-append">
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						  Original audio record
						  <label style="color: green">Saved</label>
						</label>
					</div>
					<label class="radio">
					  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					  Audio with answers options
					  <label style="color: green">Saved</label>
					</label>
					<button type="button" class="btn" data-loading-text="Save...">Save</button>
</form>
<%=current_user.answer%>
<%current_user.answer.each do |f|%>

 <div class="input-append">
						<label class="radio">
						  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						  Original audio record
						  <%=f.selected%>
    						<%=radio_button(f, f.selected, options = {})%>
						  <label style="color: green">Saved</label>
						</label>
					</div> 
    
    
  
    
 

<%end%>
