	<div id="full_report_table_div_empty">	
	<br />
	<p>
	<div class="well" id="past_activity">
		<center><h4 class="">No past activity</h4></center>
		<p class="help-block">To get started - record your message, set the invite list and get your results in minutes!</p>  
	</div>
	</p>
	</div>
<script>document.getElementById("full_report_table_div_empty").style.display = 'none'</script>
<div id="full_report_table_div_full">
 <div class="row-fluid" id="full_report_div" > 	
 	<div class="control-list"> 	
 		<div class="row-fluid">
 			<div class="span7">
	 			
	 			<h6><div id="progress_bar_lable"></div></h6>
		 		<div class="progress progress-striped active">
			  <div class="bar bar-warning" style="width: 0%;" id="progress_bar"></div>			  
			</div>
 		</div>

 			<div class="span5">
 			<div id="token">
			  	<%if !@user.orders.last.nil?%>			  		
			  		<br />
			  		<h5><p class="well well-small">Transaction id: <%=@user.orders.last.token%></p></h5>
				<%end%>		  	  
	  	  	</div>
 		</div>

		</div>

	 	<div class="row-fluid">		 	
		 	<div class="span3">
	 	 		<!--Small report table on the right side-->
	 	 		<%=render 'report'%>
	 	 		<button class="btn btn-block" type="button" onclick="refresh_report_sum()">Refresh summary</button> 	
	 	 		
	 	 	</div>

		 	<div class="span9">
		 		<form class="well well-small">
				  	<div class="input-append">
					  <input class="span*" id="appendedInputButton" type="email" type="text">
					  <button class="btn" type="button" for="inputIcon"  onclick="sendReport()">send report by mail</button>					  	  
					</div>
				</form>		
			 	<table class="table table-bordered table-hover">
			  		<thead>
		                <tr>                  
		                  <th>Name</th>
		                  <th>Email</th>
		                  <th>Phone number</th>
		                  <th>Acknowledgement status</th>
		                </tr>
				  	</thead>
				  	<tbody id="full_report_table_body">
			                <%=render 'invites_each'%>                
			          </tbody>
			  	</table>
			  	

		 	</div>		 	
	 	 	
	 	</div>
 	</div> 	
 </div> 

</div>
<script>document.getElementById("full_report_table_div_full").style.display = 'none'</script>

<%if @user.orders.last.nil?%>			  		
<script>
document.getElementById("full_report_table_div_empty").style.display = 'block';
document.getElementById("full_report_table_div_full").style.display = 'none';
</script>
<%else %>
<script>
document.getElementById("full_report_table_div_empty").style.display = 'none';
document.getElementById("full_report_table_div_full").style.display = 'block';
</script>
<%end%>
