<%@invite.each do |f| %>
	<div>				
	<tr>				
		<td><%=f.name %></td>
		<td><%=f.mail %> </td>
		<td><%=f.number %></td>	
	    <td style="color: orange"><%= link_to 'Destroy', f, confirm: 'Are you sure?', method: :delete ,:class=>"label label-important"%></td>			    	
	</tr>	
	</div>
<%end%>		
