<%if !@invite_history.nil?%>

<%@invite_history.each do |f| %>							
<tr>				
	<td><%=f.name %></td>
	<td><%=f.mail %> </td>
	<td><%=f.number %></td>	    
      	<%if f.arriving.nil? %>
      		<td>in progress</td>
      	<% elsif (f.arriving == 1)%>
	    	<td bgcolor="#B5DD49">Confirmed</td>
		<%elsif(f.arriving == 2)%>
			<td bgcolor="#FFD9E2">Declined</td>
		<%elsif(f.arriving == -10)%>
			<td bgcolor="#FFD9E2">[1/3] No answer/busy<br> redialing in 5min</td>
		<%elsif(f.arriving == -20)%>
			<td bgcolor="#FFD9E2">[2/3] No answer/busy<br> redialing in 10min</td>
		<%elsif(f.arriving == -30)%>
			<td bgcolor="#FFD9E2">[3/3] No answer/busy<br> redialing in 20min</td>
		<%elsif(f.arriving == -40)%>
			<td bgcolor="#FFD9E2">No answer/busy</td>
		<%elsif(f.arriving == -50)%>
			<td bgcolor="#FFD9E2">No answer provided</td>

		<%else%>
			<td>No response.</td>			
	<%end%>		
</tr>
	<%end%>
<%end%>

