<%if !@invite_history.nil?%>

<%@invite_history.each do |f| %>							
<tr>				
	<td><%=f.name %></td>
	<td><%=f.mail %> </td>
	<td><%=f.number %></td>	    
      	<%if f.arriving.nil? %>
      		<td>בתהליך התקשרות</td>
      	<% elsif (f.arriving == 1)%>
	    	<td bgcolor="#B5DD49">אישור</td>
		<%elsif(f.arriving == 2)%>
			<td bgcolor="#FFD9E2">דחייה</td>
		<%elsif(f.arriving == -10)%>
			<td bgcolor="#FFD9E2">אין מענה. חיוג חוזר יתבצע כ-5 דקות לאחר נסיון ההתקשרות</td>
		<%elsif(f.arriving == -20)%>
			<td bgcolor="#FFD9E2">אין מענה. חיוג חוזר יתבצע כ-10 דקות לאחר נסיון ההתקשרות</td>
		<%elsif(f.arriving == -30)%>
			<td bgcolor="#FFD9E2">אין מענה. חיוג חוזר יתבצע כ-20 דקות לאחר נסיון ההתקשרות</td>
		<%elsif(f.arriving == -40)%>
			<td bgcolor="#FFD9E2">אין מענה</td>
		<%elsif(f.arriving == -50)%>
			<td bgcolor="#FFD9E2">לא התקבלה תשובה</td>

		<%else%>
			<td>לא התקבלה תגובה</td>			
	<%end%>		
</tr>
	<%end%>
<%end%>

