<div class="span3" align="center">			
	<div class="row-fluid">	
		<iframe class="" src="/load_recorder" width="230" height="160" align="left" frameborder="0" scrolling="no" id="wami_recorder">
			Your browser doesn't support iframes. Please upgrade to latest version
			</iframe>
		<iframe class="" src="/upload_frame" frameborder="0" scrolling="no" align="middle" height="185" width="230" id="upload_frame">
			Your browser doesn't support iframes. Please upgrade to latest version
		</iframe>

	</div>
</div>











			
