<div class="span3" align="center">			
	<div class="row-fluid">	
		<div class="well well-small">
			playback should be here
		</div>

		<iframe class="span*" src="/upload_frame" frameborder="0" scrolling="no" align="middle" height="185" width="220" id="upload_frame">
			Your browser doesn't support iframes. Please upgrade to latest version
		</iframe>

	</div>
</div>