<div class="span3" align="center" align="right">			
		<div class="well">	
			<div id="applet_container">	
				<% if !record_exist %>   
					<span class="label label-warning">No audio recordings.</span>
				<%end%>			
			    <applet id="applet" archive="/nanogong.jar" code="gong.NanoGong" width="164" height="55" visable="true">
				<param name="ShowSpeedButton" value="false" />
				<param name="ShowSaveButton" value="true" />
				<param name="AudioFormat" value="ImaADPCM" />
				<param name="MaxDuration" value="60" />
				<param name="SamplingRate" value="22050" />	
				<param name="ShowRecordButton" value="true" />
				<param name="ShowAllButtons" value="true" />
				<param name="Color" value="#f5f5f5" />			
				<% if record_exist %>   				
					<param name="SoundFileURL" value="http://<%=request.host_with_port%>/nfs-share/<%=@user.id%>/<%=@user.audio_file[0].audio_hash%>.wav"/>
				<%else%>
					<param name="SoundFileURL" value="http://<%=request.host_with_port%>/noaudio.wav"/>	
				<%end%>			
				</applet>
				<p></p>
				<button type="button" onclick="postAudio();remove_span();recorderReloade();" class="btn btn-block" data-toggle="tooltip" data-loading-text="Loading..." title="Press to save your record on server">
					<p>Save your record.</p>
				</button>	 
			</div>	  
		</div>
		<iframe class="span*" src="/upload_frame" frameborder="0" scrolling="no" align="middle" height="185" width="" id="upload_frame">
			Your browser doesn't support iframes. Please upgrade to latest version
		</iframe>
			
</div>
<script>
	function postAudio () {
		var path="http://"+window.location.host;
		applet.sendGongRequest('PostToForm', path+'/post.php', 'record', '', 'sound.wav');
	}
</script>
			
