<p><h4>Message samples</h4></p>				
				<div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            		<strong>Example of wedding invitation</strong>       
                    </a>                    
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">                  	
                    <div class="accordion-inner" align="left">    
                		 
	                    <p>Hello,
	                     Yael and Alon are speaking. 
	                     We are pleased to invite you to celebrate with us one of the most exciting and happiest days of our lives on (Thursday) (Hebrew and Gregorian date) at (name of the hall, banquet hall). 
	                     All you have to do is confirm/decline your arrival by clicking on the appropriate button.
	                     Hope to see you on our wedding day!</p>
          			</div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">                   
                    <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" >
					<strong>Example of arrival confirmation</strong>
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner" align="left">
						<p>
						Hello! This is Yael and Alon. We're getting married and you are invited! On (date Gregorian and Hebrew) in (place).
						Appreciate if you could confirm your arrival by pressing the appropriate button, thanks. Waiting to see you!
						</p>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      <strong>Example of Bar – Mitzvah invitation</strong>
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="left">                    
                     <p>
                     Hello, this is the Cohen family. Our little Moses celebrates Bar Mitzvah on (date) in (name of the hall, banquet hall) we would like to invite you to rejoice with us. All you have to do is click on the appropriate button to confirm/decline Your arrival.
                     </p>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFore">
                      <strong>Example of arrival confirmation to the Bar – Mitzvah</strong>
                    </a>
                  </div>
                  <div id="collapseFore" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="left">
						<audio controls="" src="http://<%=request.host_with_port%>/speech/audio.wav/"></audio>
						<p>
						Hello, this is the Cohen family. Our little Moses celebrates Bar Mitzvah and you are invited.
						We would appreciate if you could confirm your arrival by pressing the appropriate button. 
						Thanks. Waiting to see you!
						</p>
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                      <strong>Example of conference invitation</strong>
                    </a>
                  </div>
                  <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="left">
						<audio controls="" src="http://<%=request.host_with_port%>/speech/audio.wav/"></audio>
						<p>
						Greetings!
						You are invited to attend the conference that presents an extensive view of the existing simulation tools in PROGRAM and emphasizes the ease of use and it's interface capabilities.
						The conference will be held on (Sunday - date), at (place), from 8 am to 12 noon.
						Please confirm your arrival. Thanks.
						</p>
                    </div>
                  </div>
                </div>
                
<br /><br />
</div>
	    