<p>
	הודעות הזמנה לדוגמא
	 </p>				
				<div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <strong>דוגמא להזמנה לחתונה</strong>        
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner" align="right">                    	
	                    			שלום, כאן יעל ואלון. אנו שמחים להזמין אתכם לחגוג איתנו את אחד הימים המרגשים והמאושרים בחיינו ביום ( .... ) (תאריך לועזי ועברי) ב-(שם האולם ,גן אירועים). הינו מאוד שמחים לראות אותכם ביום הנישואים שלנו. כל מה שעליכם לעשות הוא ללחוץ על הכפתור המתאים. מצפים לראותכם!
                    	
          			</div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">                   
                    <a  class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" >
<strong>דוגמה לווידא הגעה לחתונה</strong>
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner" align="right">
							שלום! כאן יעל ואלון. אנו מתחתנים ואתם מוזמנים! ביום (תאריך לועזי ועברי) במקום (שם המקום) נודה לכם מאוד אם תוכלו לאשר את הגעתכם על ידי לחיצה על כפתור מתאים. תודה ומחכים לראותיכם!
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      <strong>דוגמה להזמנה לבר- מצווה</strong>
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="right">
                     שלום, כאן משפחת כהן. משה הקטן שלנו חוגג בר-מצווה שתתקיים ב- (תאריך) ב-(שם האולם , גן אירועים) אנו שמחים להזמין אותכם לשמוח יחד איתנו וכל מה שעליכם לעשות הוא ללחוץ על הכפתור המתאים. 
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFore">
                      <strong>דוגמה לווידא הגעה לבר- מצווה</strong>
                    </a>
                  </div>
                  <div id="collapseFore" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="right">
						שלום,כאן משפחת כהן. משה הקטן שלנו חוגג בר מצווה ואתם מוזמנים. נודה לכם מאוד אם תוכלו לאשר את הגעתכם על ידי לחיצה על כפתור מתאים. תודה. מחכים לראותיכם!
                    </div>
                  </div>
                </div>
                
                <div class="accordion-group">
                  <div class="accordion-heading" align="center">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                      <strong>דוגמא להזמנה לכנס</strong>
                    </a>
                  </div>
                  <div id="collapseFive" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner" align="right">
						שלום רב.
הינך מוזמן לכנס הבדיקות הגדול של פורום בודקי התוכנה הישראלי אשר יערך בין התאריכים (....) באולם כנסים (...)
אנא אשר הגעתך. תודה.
                    </div>
                  </div>
                </div>
                
</div>
	    