<!-- Button to trigger modal -->

 
<!-- Modal -->
<div id="term" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mazminim user agreement</h3>
  </div>
  
  <div class="modal-body">
    <p>
	<div>
	
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1255">
	<meta name="Generator" content="Microsoft Word 14 (filtered)">
	<style>
	<!--
	 /* Font Definitions */
	 @font-face
		{font-family:Calibri;
		panose-1:2 15 5 2 2 2 4 3 2 4;}
	 /* Style Definitions */
	 p.MsoNormal, li.MsoNormal, div.MsoNormal
		{margin-top:0cm;
		margin-right:0cm;
		margin-bottom:10.0pt;
		margin-left:0cm;
		text-align:right;
		line-height:115%;
		direction:rtl;
		unicode-bidi:embed;
		font-size:11.0pt;
		font-family:"Calibri","sans-serif";}
	h3
		{mso-style-link:"Heading 3 Char";
		margin-right:0cm;
		margin-left:0cm;
		font-size:13.5pt;
		font-family:"Times New Roman","serif";
		font-weight:bold;}
	p
		{margin-right:0cm;
		margin-left:0cm;
		font-size:12.0pt;
		font-family:"Times New Roman","serif";}
	p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
		{margin-top:0cm;
		margin-right:36.0pt;
		margin-bottom:10.0pt;
		margin-left:0cm;
		text-align:right;
		line-height:115%;
		direction:rtl;
		unicode-bidi:embed;
		font-size:11.0pt;
		font-family:"Calibri","sans-serif";}
	p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
		{margin-top:0cm;
		margin-right:36.0pt;
		margin-bottom:0cm;
		margin-left:0cm;
		margin-bottom:.0001pt;
		text-align:right;
		line-height:115%;
		direction:rtl;
		unicode-bidi:embed;
		font-size:11.0pt;
		font-family:"Calibri","sans-serif";}
	p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
		{margin-top:0cm;
		margin-right:36.0pt;
		margin-bottom:0cm;
		margin-left:0cm;
		margin-bottom:.0001pt;
		text-align:right;
		line-height:115%;
		direction:rtl;
		unicode-bidi:embed;
		font-size:11.0pt;
		font-family:"Calibri","sans-serif";}
	p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
		{margin-top:0cm;
		margin-right:36.0pt;
		margin-bottom:10.0pt;
		margin-left:0cm;
		text-align:right;
		line-height:115%;
		direction:rtl;
		unicode-bidi:embed;
		font-size:11.0pt;
		font-family:"Calibri","sans-serif";}
	span.Heading3Char
		{mso-style-name:"Heading 3 Char";
		mso-style-link:"Heading 3";
		font-family:"Times New Roman","serif";
		font-weight:bold;}
	.MsoChpDefault
		{font-family:"Calibri","sans-serif";}
	.MsoPapDefault
		{margin-bottom:10.0pt;
		line-height:115%;}
	@page WordSection1
		{size:595.3pt 841.9pt;
		margin:72.0pt 90.0pt 72.0pt 90.0pt;}
	div.WordSection1
		{page:WordSection1;}
	 /* List Definitions */
	 ol
		{margin-bottom:0cm;}
	ul
		{margin-bottom:0cm;}
	-->
	</style>
	
	<div class=WordSection1 dir=RTL>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><b><span lang=HE
	style='font-size:12.0pt;line-height:115%;font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>תנאי שימוש</span></b></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><b><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מבוא</span></b><b></b></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>ברוכים
	הבאים לאתר</span><span dir=LTR>
	mazminim.com</span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>. בהיכנסך לאתר, וטרם ביצוע פעולה כלשהי באתר,
	שימוש בשירות או במידע כלשהו הקיים באתר ו/או ביישומיו, הנך מתבקש לקרוא בעיון את
	תנאי השימוש באתר, כמפורט להלן </span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>כניסה
	לאתר ו/או שימוש בשירותים, מידע או יישומים המוצגים בו, מהווה ומבטאת הסכמה מצדך
	לתנאי השימוש, ובעשותך כן הנך מצהיר כי קראת את תנאי השימוש, הינך מודע ומסכים
	להם, ומסכים לפעול לפיהם</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>תכני
	האתר ויישומיו עשויים להופיע ולהיות מוצגים ברשת האינטרנט ו/או בכל מדיה תקשורתית
	אחרת, ותנאי השימוש המפורטים להלן רלוונטיים וחלים על כל מדיה תקשורתית שהיא בהם
	יופיעו תכני האתר ו/או יישומיו</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>האמור
	בתנאי שימוש אלה בלשון זכר – אך נכון גם ללשון נקבה. האמור בלשון יחיד – נכון אף
	ללשון רבים</span><span dir=LTR>.</span><span
	lang=HE style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><b><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>כללי</span></b></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l7 level1 lfo2;tab-stops:list 36.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>תנאי
	השימוש מסדירים את היחסים בין בעלי אתר</span><span dir=LTR> mazminim.com </span><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><span
	dir=RTL></span>(להלן &quot;מפעיל האתר&quot;) לבין כל אדם, תאגיד או גוף שיעשה
	שימוש באתר ו/או ביישומיו ו/או במידע ו/או בשירות, מכל סוג שהוא, הקיים באתר ו/או
	שניתן להשיגו באמצעות האתר (להלן – &quot;משתמש&quot;). מפעיל האתר שומר לעצמו את
	הזכות לעדכן את תנאי השימוש, מעת לעת, לפי שיקול דעתו הבלעדי, וללא צורך במסירת
	הודעה כלשהי מראש למשתמש, ותנאים אלה יחייבו מרגע פרסומם באתר. בתנאי שימוש אלה
	&quot;מפעיל האתר&quot; משמעו – לרבות מנהליו, עובדיו, בעלי מניותיו, צוות המומחים
	שלו, מנהלי התכנים וכל מי מטעמו</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	text-align:justify'><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	line-height:normal;mso-outline-level:3'><b><span lang=HE style='font-family:
	"Arial","sans-serif";mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
	Arial;mso-bidi-theme-font:minor-bidi'>הגבלת אחריות מפעיל האתר</span></b></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	line-height:normal;mso-outline-level:3'><span dir=LTR><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>תכנים
	המוצגים באתר שהנם של צדדים שלישיים ו/או שמקורם בצדדים שלישיים, לרבות תכנים של
	אתרים אחרים או פרסומות, המוצגים באתר ו/או תכנים אשר עלו כתוצאות חיפוש באתר,
	אינם בבעלותו של מפעיל האתר, אינם מופעלים על ידו, אינם באחריותו, והנם באחריותם
	הבלעדית של אותם צדדים שלישיים</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>כל
	הסתמכות של משתמש ו/או צד שלישי כלשהו, על כל תוכן, מידע ופרסומות המוצגים או
	המפורסמים באתר ו/או באתרים אליהם קיימת אפשרות הפניה נעשה על פי שיקול דעת המשתמש
	ועל אחריותו הבלעדית</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מפעיל
	האתר לא יהיה אחראי לכל נזק, אובדן, הפסד או הוצאה שייגרמו למשתמש ו/או לצד שלישי
	כלשהו בקשר עם כל מעשה ו/או מחדל שמקורו בצד שלישי כלשהו. מפעיל האתר לא יהא אחראי
	לכל מחדל ו/או פעולה, מכל סוג שהוא, שתוליד קשר בין המשתמש לבין צד שלישי כלשהו
	ו/או שמקורה בקשר כזה, אף אם המשתמש למד אודות הצד השלישי באמצעות קישור</span><span dir=LTR> (Link) mazminim.com </span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מפעיל
	האתר ו/או מי מטעמו לא יהיו אחראים, ולא יישאו, במישרין או בעקיפין, בכל נזק
	שייגרם למשתמש או לצד שלישי כלשהו עקב או כתוצאה משימוש או הסתמכות על מידע המופיע
	באתר ו/או ביישום ו/או באתר של צד שלישי, לרבות הפסד הכנסה ו/או מניעת רווח
	שייגרמו מכל סיבה שהיא</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>הואיל
	ואין ביכולתו של מפעיל האתר לשלוט במידע שמוצג או מופץ על ידי אחר, לא יהא מפעיל
	האתר ו/או מי מטעמו אחראי לנזק כלשהו שייגרם למשתמש ו/או לצד שלישי כלשהו עקב
	החשיפה למידע הפוגע, ומפעיל האתר מסיר כל אחריות על התוכן ו/או המידע.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	dir=RTL></span><span style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:
	minor-latin'><span style='mso-list:Ignore'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span dir=LTR>. </span><span
	lang=HE style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>פרסום
	תכני משתמשים באתר או הצבת קישור על ידי מפעיל האתר לא יתפרשו כהצעה למשתמש, כהבעת
	תמיכה, עידוד, הסכמה או מתן חסות של מפעיל האתר לתכנים אלה ו/או לשירותים המוצעים
	על ידי אחרים</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מפעיל
	האתר יהיה רשאי להסיר, למחוק כל תוכן ו/או למנוע ו/או לנקוט בכל צעד אחר על פי
	שיקול דעתו הבלעדי בכל עת שימצא כי נעשה או עלול להיעשות שימוש בלתי ראוי והולם
	באתר</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מפעיל
	האתר רשאי לבטל קישור שנכלל באתר או להימנע מהוספת קישור חדש, כל זאת לפי שיקול
	דעתו הבלעדי. מפעיל האתר איננו מתחייב כי לא תהיה כל תקלה או ליקוי או כשלים
	(להלן: &quot;הפרעה&quot;) בפעולת האתר ו/או ברשת האינטרנט ו/או ברשת הסלולארית
	ו/או בכל מדיה אחרת אשר בה ו/או באמצעותה מוצגים תכני האתר ו/או יישומיו ו/וא
	שירותים. עם זאת, מפעיל האתר ייעשה מאמץ רב על מנת למנוע או לתקן כל הפרעה כאמור
	בהקדם</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מפעיל
	האתר איננו מייצר מידע אלא מעביר מידע המופץ על ידי צדדים שלישיים כפי שהוא</span><span dir=LTR> (As Is)</span><span
	lang=HE style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><span
	dir=RTL></span>; לפיכך, אין לראות במפעיל האתר כמסייע להפצת מידע שהפצתו או הצגתו
	עלולים להתפרש, במפורש או במשמע, כהפרה של האמור בדין</span><span
	dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l0 level1 lfo4;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>10.<span style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>תוצאות שירותי<span style='mso-spacerun:yes'>  </span>האתר מסופקים
	כמו שהם</span><span dir=LTR> (As Is) </span><span
	lang=HE style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>כפי
	שנתקבלו מצדדים שלישיים, ללא אחריות מכל סוג שהוא של מפעיל האתר ו/או מי מטעמו.
	מפעיל האתר אינו אחראי לאי התאמות כלשהם בנתונים המתקבלים מהצדדים השלישיים ו/או
	להפרה של זכויות קניין הנובעת מנתונים שמקורם בצדדים השלישיים</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span dir=LTR><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	line-height:normal;mso-outline-level:3'><b><span lang=HE style='font-family:
	"Arial","sans-serif";mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
	Arial;mso-bidi-theme-font:minor-bidi'>שימוש באתר</span></b></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	line-height:normal;mso-outline-level:3'><span dir=LTR><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l2 level1 lfo3;tab-stops:list 36.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מפעיל
	האתר מאפשר לכל אדם להשתמש באתר וביישומיו. עם זאת, מפעיל האתר יהא רשאי, להסיר
	מידע ו/או למנוע או להפסיק שימוש באתר, בכל מקרה שהשימוש באתר ייעשה באופן בלתי
	ראוי ובלתי סביר, כל זאת על פי שיקול דעתו הבלעדי של מפעיל האתר</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l2 level1 lfo3;tab-stops:list 36.0pt'><![if !supportLists]><span
	style='mso-bidi-font-family:Calibri;mso-bidi-theme-font:minor-latin'><span
	style='mso-list:Ignore'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>משתמש
	ו/או צד שלישי אינם מורשים לעשות שימוש בשירותים הקיימים באתר לצורך הבעת ו/או
	הפצת מידע או פרטים שהם בלתי חוקיים, מעודדים ביצוע עבירות פליליות, מעליבים,
	מוציאים לשון הרע, מאיימים, פוגעים בפרטיות או מהווים הפרה אחרת של החוק. </span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	line-height:normal;mso-outline-level:3'><a name=privacy><b><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>מדיניות
	פרטיות</span></b></a><b><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'></span></b></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	line-height:normal;mso-outline-level:3'><span dir=LTR><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l6 level1 lfo5;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>1.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>מפעיל האתר יהא רשאי להשתמש במידע אישי של המשתמש לצרכים פנימיים בלבד
	ולצרכי תחקור תקלות</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l6 level1 lfo5;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>2.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>מפעיל האתר אינו חולק מידע אישי ומזהה על המשתמש עם גוף שלישי, ללא
	הסכמתו המפורשת של המשתמש. עם זאת עשוי מפעיל האתר לחלוק מידע סטטיסטי מתומצת על
	המשתמש, שאינו מזהה, עם מפרסמים, שותפים עסקיים, מממנים וגופים אחרים. מפעיל האתר
	יחלוק מידע אישי ספציפי על משתמש אם נדרש לעשות זאת במטרה להיענות לכל הליך חוקי
	בר-תוקף כגון צו חיפוש, זימון לבימ&quot;ש, חוק, או צו בימ&quot;ש</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l6 level1 lfo5;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>3.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>בשימוש באתר וביישומיו, מסכים המשתמש לאיסוף ושימוש במידע עליו כפי
	שמתואר במדיניות זו ובתנאי השימוש. מפעיל האתר יכול להחליט לשנות את מדיניות
	הפרטיות הזו מעת לעת</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l6 level1 lfo5;tab-stops:list 18.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;font-family:"Arial","sans-serif";
	mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>4.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>מפעיל האתר לא ייחשב כמפר התחייבות לפרטיות או פוגע בפרטיות משתמש בשל
	כל מידע, כהגדרתו בחוק המחשבים תשנ&quot;ה – 1995, שיהיה בו כדי לזהות משתמש או
	להתחקות אחריו על ידי אחר, שנובע מהשימוש באמצעי תקשורת אלקטרוניים ככלל ותקשורת
	מחשבים בפרט</span><span dir=LTR>.</span><span
	dir=LTR style='font-size:8.5pt;line-height:115%;font-family:"Arial","sans-serif";
	mso-fareast-font-family:"Times New Roman";color:#999191'></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	text-align:justify;mso-outline-level:3'><a name=intellectual-property><b><span
	lang=HE style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>קניין
	רוחני</span></b></a><b><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'></span></b></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	text-align:justify;mso-outline-level:3'><span dir=LTR><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
	text-align:justify'><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>פלטפורמת</span><span dir=LTR>
	&quot;mazminim.com </span><span lang=HE style='font-family:
	"Arial","sans-serif";mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:
	Arial;mso-bidi-theme-font:minor-bidi'><span
	style='mso-spacerun:yes'> </span>בשלבי רישום פטנט</span><span
	dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l1 level1 lfo6;tab-stops:list 36.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>1.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>אין להשתמש בפלטפורמה\ות ו\או שכפול של אתר </span><span dir=LTR>mazminim.com<span
	style='mso-spacerun:yes'>  </span></span><span
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><span
	dir=RTL></span><span style='mso-spacerun:yes'> </span><span lang=HE>בכל צורת
	מימוש אחרת מלבד</span></span><span lang=HE dir=LTR> </span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>המקורי\ים</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l1 level1 lfo6;tab-stops:list 36.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>2.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>למפעיל האתר קיימת זכות יוצרים על כל מידע ו/או תצוגה ו/או תוכנה
	כהגדרתה בחוק המחשבים, תשנ&quot;ה – 1995 לרבות עיצוב גרפי, סימן מסחרי</span><span dir=LTR>, icons) </span><span
	lang=HE style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'>אייקונים)
	וסודות מסחריים, שפותחו ו/או תוכננו ו/או חוברו ו/או נוצרו על ידי מפעיל האתר
	בעצמו או שהזכויות בהם הועברו למפעיל האתר מצד שלישי</span><span
	dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l1 level1 lfo6;tab-stops:list 36.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:minor-latin'><span style='mso-list:Ignore'>3.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>אין להעתיק ו/או לשכפל ו/או להפיץ ו/או לפרסם ו/או להשתמש בתכנים
	המוצגים באתר וביישומיו ו/או לעשות בהם כל פעולה, במישרין או בעקיפין, המהווה הפרה
	או פגיעה בקניין הרוחני של מפעיל האתר, אלא אם מפעיל האתר התיר זאת במפורש בכתב</span><span dir=LTR>.</span></p>
	
	<p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:18.0pt;
	margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
	text-indent:-18.0pt;mso-list:l1 level1 lfo6;tab-stops:list 36.0pt'><![if !supportLists]><span
	style='font-size:12.0pt;line-height:115%;font-family:"Arial","sans-serif";
	mso-fareast-font-family:Arial'><span style='mso-list:Ignore'>4.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
	dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif";
	mso-ascii-font-family:Calibri;mso-ascii-theme-font:minor-latin;mso-hansi-font-family:
	Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>פרסומת\ות המוצגת\ות באתר וביישומיו הינה קניינו של המפרסם ולפיכך אין
	לעשות בפרסומת\ות שימוש המהווה הפרה של זכות המפרסם בפרסומת</span><span
	dir=LTR>.</span><span dir=LTR style='font-size:8.5pt;
	line-height:115%;font-family:"Arial","sans-serif";mso-fareast-font-family:"Times New Roman";
	color:#999191'></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span dir=LTR><o:p>&nbsp;</o:p></span></p>
	
	<h3 dir=RTL style='margin:0cm;margin-bottom:.0001pt;text-align:justify;
	direction:rtl;unicode-bidi:embed'><span lang=HE style='font-size:11.0pt;
	font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;mso-ascii-theme-font:
	minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:
	minor-bidi'>ברירת דין וסמכות שיפוט</span></h3>
	
	<h3 dir=RTL style='margin:0cm;margin-bottom:.0001pt;text-align:justify;
	direction:rtl;unicode-bidi:embed'><span dir=LTR style='font-size:11.0pt;
	font-family:"Calibri","sans-serif";mso-ascii-theme-font:minor-latin;mso-fareast-font-family:
	Calibri;mso-fareast-theme-font:minor-latin;mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi;font-weight:normal'><o:p>&nbsp;</o:p></span></h3>
	
	<p dir=RTL style='margin:0cm;margin-bottom:.0001pt;text-align:justify;
	direction:rtl;unicode-bidi:embed'><span lang=HE style='font-size:11.0pt;
	font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;mso-ascii-theme-font:
	minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
	mso-hansi-font-family:Calibri;mso-hansi-theme-font:minor-latin;mso-bidi-theme-font:
	minor-bidi'>על השימוש באתר יחולו אך ורק דיני מדינת ישראל</span><span
	dir=LTR style='font-size:11.0pt;font-family:"Calibri","sans-serif";mso-ascii-theme-font:
	minor-latin;mso-fareast-font-family:Calibri;mso-fareast-theme-font:minor-latin;
	mso-hansi-theme-font:minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:
	minor-bidi'>.</span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span lang=HE
	style='font-family:"Arial","sans-serif";mso-ascii-font-family:Calibri;
	mso-ascii-theme-font:minor-latin;mso-hansi-font-family:Calibri;mso-hansi-theme-font:
	minor-latin;mso-bidi-font-family:Arial;mso-bidi-theme-font:minor-bidi'><o:p>&nbsp;</o:p></span></p>
	
	<h2 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;text-align:left;mso-line-height-alt:18.0pt;background:white;
	direction:ltr;unicode-bidi:embed'><span style='font-size:20.5pt;font-family:
	"Verdana","sans-serif";color:#333333'>Web Site Terms and Conditions of Use</span></h2>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>1. Terms</span></h3>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>By accessing this web
	site, you are agreeing to be bound by these web site Terms and Conditions of
	Use, all applicable laws and regulations, and agree that you are responsible
	for compliance with any applicable local laws. If you do not agree with any of
	these terms, you are prohibited from using or accessing this site. The
	materials contained in this web site are protected by applicable copyright and
	trade mark law.</span></p>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>2. Use License</span></h3>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l3 level1 lfo7;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'>a.<span
	style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span style='font-size:14.5pt;font-family:"Verdana","sans-serif";
	color:#333333'>Permission is granted to temporarily download one copy of the
	materials (information or software) on <span class=SpellE>mazminim's</span> web
	site for personal, non-commercial transitory viewing only. This is the grant of
	a license, not a transfer of title, and under this license you may not:</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:45.0pt;margin-bottom:.0001pt;text-align:left;text-indent:-45.0pt;
	mso-text-indent-alt:-18.0pt;line-height:18.0pt;mso-list:l3 level2 lfo7;
	tab-stops:list 72.0pt;background:white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'><span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	9.0pt;font-family:"Verdana","sans-serif";color:#333333'>modify or copy the
	materials;</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:45.0pt;margin-bottom:.0001pt;text-align:left;text-indent:-45.0pt;
	mso-text-indent-alt:-18.0pt;line-height:18.0pt;mso-list:l3 level2 lfo7;
	tab-stops:list 72.0pt;background:white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'><span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>ii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	9.0pt;font-family:"Verdana","sans-serif";color:#333333'>use the materials for
	any commercial purpose, or for any public display (commercial or
	non-commercial);</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:45.0pt;margin-bottom:.0001pt;text-align:left;text-indent:-45.0pt;
	mso-text-indent-alt:-18.0pt;line-height:18.0pt;mso-list:l3 level2 lfo7;
	tab-stops:list 72.0pt;background:white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'><span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>iii.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	9.0pt;font-family:"Verdana","sans-serif";color:#333333'>attempt to decompile or
	reverse engineer any software contained on <span class=SpellE>mazminim's</span>
	web site;</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:45.0pt;margin-bottom:.0001pt;text-align:left;text-indent:-45.0pt;
	mso-text-indent-alt:-18.0pt;line-height:18.0pt;mso-list:l3 level2 lfo7;
	tab-stops:list 72.0pt;background:white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'><span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>iv.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	9.0pt;font-family:"Verdana","sans-serif";color:#333333'>remove any copyright or
	other proprietary notations from the materials; or</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:45.0pt;margin-bottom:.0001pt;text-align:left;text-indent:-45.0pt;
	mso-text-indent-alt:-18.0pt;line-height:18.0pt;mso-list:l3 level2 lfo7;
	tab-stops:list 72.0pt;background:white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:9.0pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'><span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span>v.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span class=GramE><span
	style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:#333333'>transfer</span></span><span
	style='font-size:9.0pt;font-family:"Verdana","sans-serif";color:#333333'> the
	materials to another person or &quot;mirror&quot; the materials on any other
	server.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l3 level1 lfo7;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'>b.<span
	style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span style='font-size:14.5pt;font-family:"Verdana","sans-serif";
	color:#333333'>This license shall automatically terminate if you violate any of
	these restrictions and may be terminated by mazminim at any time. Upon
	terminating your viewing of these materials or upon the termination of this
	license, you must destroy any downloaded materials in your possession whether
	in electronic or printed format.</span></p>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>3. Disclaimer</span></h3>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l4 level1 lfo8;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";mso-fareast-font-family:
	Verdana;mso-bidi-font-family:Verdana;color:#333333'><span style='mso-list:Ignore'>a.<span
	style='font:7.0pt "Times New Roman"'>&nbsp; </span></span></span><![endif]><span style='font-size:14.5pt;font-family:"Verdana","sans-serif";
	color:#333333'>The materials on <span class=SpellE>mazminim's</span> web site
	are provided &quot;as is&quot;. <span class=GramE>mazminim</span> makes no
	warranties, expressed or implied, and hereby disclaims and negates all other
	warranties, including without limitation, implied warranties or conditions of
	merchantability, fitness for a particular purpose, or non-infringement of
	intellectual property or other violation of rights. Further, mazminim does not
	warrant or make any representations concerning the accuracy, likely results, or
	reliability of the use of the materials on its Internet web site or otherwise relating
	to such materials or on any sites linked to this site.</span></p>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>4. Limitations</span></h3>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>In no event shall
	mazminim or its suppliers be liable for any damages (including, without
	limitation, damages for loss of data or profit, or due to business
	interruption,) arising out of the use or inability to use the materials on <span
	class=SpellE>mazminim's</span> Internet site, even if mazminim or a mazminim
	authorized representative has been notified orally or in writing of the
	possibility of such damage. Because some jurisdictions do not allow limitations
	on implied warranties, or limitations of liability for consequential or
	incidental damages, these limitations may not apply to you.</span></p>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>5. Revisions and
	Errata</span></h3>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>The materials
	appearing on <span class=SpellE>mazminim's</span> web site could include
	technical, typographical, or photographic errors. <span class=GramE>mazminim</span>
	does not warrant that any of the materials on its web site are accurate,
	complete, or current. <span class=GramE>mazminim</span> may make changes to the
	materials contained on its web site at any time without notice. <span
	class=GramE>mazminim</span> does not, however, make any commitment to update
	the materials.</span></p>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>6. Links</span></h3>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span class=GramE><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";color:#333333'>mazminim</span></span><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";color:#333333'> has
	not reviewed all of the sites linked to its Internet web site and is not
	responsible for the contents of any such linked site. The inclusion of any link
	does not imply endorsement by mazminim of the site. Use of any such linked web
	site is at the user's own risk.</span></p>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>7. Site Terms of Use
	Modifications</span></h3>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span class=GramE><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";color:#333333'>mazminim</span></span><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";color:#333333'> may
	revise these terms of use for its web site at any time without notice. By using
	this web site you are agreeing to be bound by the then current version of these
	Terms and Conditions of Use.</span></p>
	
	<h3 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	17.0pt;font-family:"Verdana","sans-serif";color:#333333'>8. Governing Law</span></h3>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>Any claim relating to <span
	class=SpellE>mazminim's</span> web site shall be governed by the laws of the
	State of Israel without regard to its conflict of law provisions.</span></p>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span class=GramE><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";color:#333333'>General
	Terms and Conditions applicable to Use of a Web Site.</span></span><span
	style='font-size:14.5pt;font-family:"Verdana","sans-serif";color:#333333'></span></p>
	
	<h2 dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:12.0pt;
	margin-left:0cm;text-align:left;mso-line-height-alt:18.0pt;background:white;
	direction:ltr;unicode-bidi:embed'><span style='font-size:20.5pt;font-family:
	"Verdana","sans-serif";color:#333333'>Privacy Policy</span></h2>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>Your privacy is very
	important to us. Accordingly, we have developed this Policy in order for you to
	understand how we collect, use, communicate and disclose and make use of
	personal information. The following outlines our privacy policy.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l8 level1 lfo9;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:10.0pt;mso-bidi-font-size:14.5pt;font-family:Symbol;
	mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#333333'><span
	style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>Before or at the time
	of collecting personal information, we will identify the purposes for which
	information is being collected.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l8 level1 lfo9;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:10.0pt;mso-bidi-font-size:14.5pt;font-family:Symbol;
	mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#333333'><span
	style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>We will collect and
	use of personal information solely with the objective of fulfilling those
	purposes specified by us and for other compatible purposes, unless we obtain
	the consent of the individual concerned or as required by law.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l8 level1 lfo9;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:10.0pt;mso-bidi-font-size:14.5pt;font-family:Symbol;
	mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#333333'><span
	style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>We will only retain
	personal information as long as necessary for the fulfillment of those
	purposes.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l8 level1 lfo9;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:10.0pt;mso-bidi-font-size:14.5pt;font-family:Symbol;
	mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#333333'><span
	style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>We will collect
	personal information by lawful and fair means and, where appropriate, with the
	knowledge or consent of the individual concerned.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l8 level1 lfo9;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:10.0pt;mso-bidi-font-size:14.5pt;font-family:Symbol;
	mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#333333'><span
	style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>Personal data should
	be relevant to the purposes for which it is to be used, and, to the extent
	necessary for those purposes, should be accurate, complete, and up-to-date.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l8 level1 lfo9;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:10.0pt;mso-bidi-font-size:14.5pt;font-family:Symbol;
	mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#333333'><span
	style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>We will protect
	personal information by reasonable security safeguards against loss or theft,
	as well as unauthorized access, disclosure, copying, use or modification.</span></p>
	
	<p class=MsoNormal dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:
	0cm;margin-left:22.5pt;margin-bottom:.0001pt;text-align:left;text-indent:-18.0pt;
	line-height:18.0pt;mso-list:l8 level1 lfo9;tab-stops:list 36.0pt;background:
	white;direction:ltr;unicode-bidi:embed'><![if !supportLists]><span
	style='font-size:10.0pt;mso-bidi-font-size:14.5pt;font-family:Symbol;
	mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:#333333'><span
	style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</span></span></span><![endif]><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>We will make readily
	available to customers information about our policies and practices relating to
	the management of personal information.</span></p>
	
	<p dir=LTR style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;
	margin-left:0cm;line-height:18.0pt;background:white'><span style='font-size:
	14.5pt;font-family:"Verdana","sans-serif";color:#333333'>We are committed to
	conducting our business in accordance with these principles in order to ensure
	that the confidentiality of personal information is protected and maintained.</span></p>
	
	<p class=MsoNormal dir=RTL style='text-align:justify'><span dir=LTR><o:p>&nbsp;</o:p></span></p>
	
	</div>
	
	
	
	</div>
   
  </div>
  
</div>