<!-- Button to trigger modal -->

 
<!-- Modal -->
<div id="term" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mazminim user agreement</h3>
  </div>
  <div class="modal-body">
    <p>
	<div>

<meta http-equiv="Content-Type" content="text/html; charset=windows-1255">
<meta name="Generator" content="Microsoft Word 14 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
h3
	{mso-style-link:"Heading 3 Char";
	margin-right:0cm;
	margin-left:0cm;
	font-size:13.5pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
p
	{margin-right:0cm;
	margin-left:0cm;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:10.0pt;
	margin-left:0cm;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:10.0pt;
	margin-left:0cm;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
span.Heading3Char
	{mso-style-name:"Heading 3 Char";
	mso-style-link:"Heading 3";
	font-family:"Times New Roman","serif";
	font-weight:bold;}
.MsoChpDefault
	{font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:72.0pt 90.0pt 72.0pt 90.0pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>





<div class="WordSection1" dir="RTL">

<p class="MsoNormal" dir="RTL" style="text-align:justify"><b><span lang="HE" style="font-size:12.0pt;line-height:115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">תנאי
שימוש</span></b></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מבוא</span></b></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">ברוכים הבאים לאתר</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span> mazminim.com</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span dir="RTL"></span>. בהיכנסך
לאתר, וטרם ביצוע פעולה כלשהי באתר, שימוש בשירות או במידע כלשהו הקיים באתר ו/או
ביישומיו, הנך מתבקש לקרוא בעיון את תנאי השימוש באתר, כמפורט להלן </span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כניסה לאתר ו/או שימוש בשירותים, מידע
או יישומים המוצגים בו, מהווה ומבטאת הסכמה מצדך לתנאי השימוש, ובעשותך כן הנך
מצהיר כי קראת את תנאי השימוש, הינך מודע ומסכים להם, ומסכים לפעול לפיהם</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">תכני האתר ויישומיו עשויים להופיע
ולהיות מוצגים ברשת האינטרנט ו/או בכל מדיה תקשורתית אחרת, ותנאי השימוש המפורטים
להלן רלוונטיים וחלים על כל מדיה תקשורתית שהיא בהם יופיעו תכני האתר ו/או יישומיו</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">האמור בתנאי שימוש אלה בלשון זכר – אך
נכון גם ללשון נקבה. האמור בלשון יחיד – נכון אף ללשון רבים</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כללי</span></b></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">תנאי
השימוש מסדירים את היחסים בין בעלי אתר</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span> mazminim.com </span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span dir="RTL"></span>(להלן "מפעיל
האתר") לבין כל אדם, תאגיד או גוף שיעשה שימוש באתר ו/או ביישומיו ו/או במידע
ו/או בשירות, מכל סוג שהוא, הקיים באתר ו/או שניתן להשיגו באמצעות האתר (להלן –
"משתמש"). מפעיל האתר שומר לעצמו את הזכות לעדכן את תנאי השימוש, מעת
לעת, לפי שיקול דעתו הבלעדי, וללא צורך במסירת הודעה כלשהי מראש למשתמש, ותנאים
אלה יחייבו מרגע פרסומם באתר. בתנאי שימוש אלה "מפעיל האתר" משמעו –
לרבות מנהליו, עובדיו, בעלי מניותיו, צוות המומחים שלו, מנהלי התכנים וכל מי מטעמו</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
line-height:normal"><b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">הגבלת
אחריות מפעיל האתר</span></b></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
line-height:normal"><span dir="LTR">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">תכנים
המוצגים באתר שהנם של צדדים שלישיים ו/או שמקורם בצדדים שלישיים, לרבות תכנים של
אתרים אחרים או פרסומות, המוצגים באתר ו/או תכנים אשר עלו כתוצאות חיפוש באתר,
אינם בבעלותו של מפעיל האתר, אינם מופעלים על ידו, אינם באחריותו, והנם באחריותם
הבלעדית של אותם צדדים שלישיים</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">כל
הסתמכות של משתמש ו/או צד שלישי כלשהו, על כל תוכן, מידע ופרסומות המוצגים או
המפורסמים באתר ו/או באתרים אליהם קיימת אפשרות הפניה נעשה על פי שיקול דעת המשתמש
ועל אחריותו הבלעדית</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר לא יהיה אחראי לכל נזק, אובדן, הפסד או הוצאה שייגרמו למשתמש ו/או לצד שלישי
כלשהו בקשר עם כל מעשה ו/או מחדל שמקורו בצד שלישי כלשהו. מפעיל האתר לא יהא אחראי
לכל מחדל ו/או פעולה, מכל סוג שהוא, שתוליד קשר בין המשתמש לבין צד שלישי כלשהו
ו/או שמקורה בקשר כזה, אף אם המשתמש למד אודות הצד השלישי באמצעות קישור</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span> (Link) mazminim.com </span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר ו/או מי מטעמו לא יהיו אחראים, ולא יישאו, במישרין או בעקיפין, בכל נזק
שייגרם למשתמש או לצד שלישי כלשהו עקב או כתוצאה משימוש או הסתמכות על מידע המופיע
באתר ו/או ביישום ו/או באתר של צד שלישי, לרבות הפסד הכנסה ו/או מניעת רווח
שייגרמו מכל סיבה שהיא</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">הואיל
ואין ביכולתו של מפעיל האתר לשלוט במידע שמוצג או מופץ על ידי אחר, לא יהא מפעיל
האתר ו/או מי מטעמו אחראי לנזק כלשהו שייגרם למשתמש ו/או לצד שלישי כלשהו עקב
החשיפה למידע הפוגע, ומפעיל האתר מסיר כל אחריות על <span style="background:yellow">התוכן
ו/או המידע.</span></span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span dir="RTL"></span>6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span dir="LTR">. </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">פרסום תכני משתמשים באתר או הצבת קישור
על ידי מפעיל האתר לא יתפרשו כהצעה למשתמש, כהבעת תמיכה, עידוד, הסכמה או מתן חסות
של מפעיל האתר לתכנים אלה ו/או לשירותים המוצעים על ידי אחרים</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">7.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר יהיה רשאי להסיר, למחוק כל תוכן ו/או למנוע ו/או לנקוט בכל צעד אחר על פי
שיקול דעתו הבלעדי בכל עת שימצא כי נעשה או עלול להיעשות שימוש בלתי ראוי והולם
באתר</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">8.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר רשאי לבטל קישור שנכלל באתר או להימנע מהוספת קישור חדש, כל זאת לפי שיקול
דעתו הבלעדי. מפעיל האתר איננו מתחייב כי לא תהיה כל תקלה או ליקוי או כשלים
(להלן: "הפרעה") בפעולת האתר ו/או ברשת האינטרנט ו/או ברשת הסלולארית
ו/או בכל מדיה אחרת אשר בה ו/או באמצעותה מוצגים תכני האתר ו/או יישומיו ו/וא
שירותים. עם זאת, מפעיל האתר ייעשה מאמץ רב על מנת למנוע או לתקן כל הפרעה כאמור
בהקדם</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">9.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר איננו מייצר מידע אלא מעביר מידע המופץ על ידי צדדים שלישיים כפי שהוא</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span> (As Is)</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span dir="RTL"></span>; לפיכך,
אין לראות במפעיל האתר כמסייע להפצת מידע שהפצתו או הצגתו עלולים להתפרש, במפורש
או במשמע, כהפרה של האמור בדין</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">10.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp; </span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
background:yellow">תוצאות שירותי&nbsp; האתר מסופקים כמו שהם</span><span dir="LTR"></span><span dir="LTR" style="background:yellow"><span dir="LTR"></span> (As Is) </span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;background:yellow">כפי שנתקבלו
מצדדים שלישיים, ללא אחריות מכל סוג שהוא של מפעיל האתר ו/או מי מטעמו. מפעיל האתר
אינו אחראי לאי התאמות כלשהם בנתונים המתקבלים מהצדדים השלישיים ו/או להפרה של
זכויות קניין הנובעת מנתונים שמקורם בצדדים השלישיים</span><span dir="LTR"></span><span dir="LTR" style="background:yellow"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span dir="LTR">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
line-height:normal"><b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">שימוש
באתר</span></b></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
line-height:normal"><span dir="LTR">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר מאפשר לכל אדם להשתמש באתר וביישומיו. עם זאת, מפעיל האתר יהא רשאי, להסיר
מידע ו/או למנוע או להפסיק שימוש באתר, בכל מקרה שהשימוש באתר ייעשה באופן בלתי
ראוי ובלתי סביר, כל זאת על פי שיקול דעתו הבלעדי של מפעיל האתר</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">משתמש
ו/או צד שלישי אינם מורשים לעשות שימוש בשירותים הקיימים באתר לצורך הבעת ו/או
הפצת מידע או פרטים שהם בלתי חוקיים, מעודדים ביצוע עבירות פליליות, מעליבים,
מוציאים לשון הרע, מאיימים, פוגעים בפרטיות או מהווים הפרה אחרת של החוק. </span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
line-height:normal"><a name="privacy"><b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מדיניות
פרטיות</span></b></a></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
line-height:normal"><span dir="LTR">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר יהא רשאי להשתמש במידע אישי של המשתמש לצרכים פנימיים בלבד ולצרכי תחקור
תקלות</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר אינו חולק מידע אישי ומזהה על המשתמש עם גוף שלישי, ללא הסכמתו המפורשת של
המשתמש. עם זאת עשוי מפעיל האתר לחלוק מידע סטטיסטי מתומצת על המשתמש, שאינו מזהה,
עם מפרסמים, שותפים עסקיים, מממנים וגופים אחרים. מפעיל האתר יחלוק מידע אישי
ספציפי על משתמש אם נדרש לעשות זאת במטרה להיענות לכל הליך חוקי בר-תוקף כגון צו
חיפוש, זימון לבימ"ש, חוק, או צו בימ"ש</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">בשימוש
באתר וביישומיו, מסכים המשתמש לאיסוף ושימוש במידע עליו כפי שמתואר במדיניות זו
ובתנאי השימוש. מפעיל האתר יכול להחליט לשנות את מדיניות הפרטיות הזו מעת לעת</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">מפעיל
האתר לא ייחשב כמפר התחייבות לפרטיות או פוגע בפרטיות משתמש בשל כל מידע, כהגדרתו בחוק
המחשבים תשנ"ה – 1995, שיהיה בו כדי לזהות משתמש או להתחקות אחריו על ידי
אחר, שנובע מהשימוש באמצעי תקשורת אלקטרוניים ככלל ותקשורת מחשבים בפרט</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
text-align:justify"><a name="intellectual-property"><b><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">קניין רוחני</span></b></a></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
text-align:justify"><span dir="LTR">&nbsp;</span></p>

<p class="MsoNormal" dir="RTL" style="margin-bottom:0cm;margin-bottom:.0001pt;
text-align:justify"><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">פלטפורמת</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span> "mazminim.com </span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span dir="RTL"></span>&nbsp;בשלבי רישום פטנט</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">אין
להשתמש בפלטפורמה\ות ו\או שכפול של אתר </span><span dir="LTR">mazminim.com&nbsp; </span><span dir="RTL"></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><span dir="RTL"></span>&nbsp;<span lang="HE">בכל צורת מימוש אחרת מלבד</span></span><span dir="LTR"></span><span lang="HE" dir="LTR"><span dir="LTR"></span> </span><span lang="HE" style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;">המקורי\ים</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">למפעיל
האתר קיימת זכות יוצרים על כל מידע ו/או תצוגה ו/או תוכנה כהגדרתה בחוק המחשבים,
תשנ"ה – 1995 לרבות עיצוב גרפי, סימן מסחרי</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>, icons) </span><span lang="HE" style="font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;">אייקונים) וסודות מסחריים, שפותחו ו/או תוכננו ו/או חוברו
ו/או נוצרו על ידי מפעיל האתר בעצמו או שהזכויות בהם הועברו למפעיל האתר מצד שלישי</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">אין
להעתיק ו/או לשכפל ו/או להפיץ ו/או לפרסם ו/או להשתמש בתכנים המוצגים באתר
וביישומיו ו/או לעשות בהם כל פעולה, במישרין או בעקיפין, המהווה הפרה או פגיעה
בקניין הרוחני של מפעיל האתר, אלא אם מפעיל האתר התיר זאת במפורש בכתב</span><span dir="LTR"></span><span dir="LTR"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="margin-top:0cm;margin-right:18.0pt;
margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;text-align:justify;
text-indent:-18.0pt"><span style="font-size:12.0pt;line-height:115%;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;background:yellow">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir="RTL"></span><span lang="HE" style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
background:yellow">פרסומת\ות המוצגת\ות באתר וביישומיו הינה קניינו של המפרסם
ולפיכך אין לעשות בפרסומת\ות שימוש המהווה הפרה של זכות המפרסם בפרסומת</span><span dir="LTR"></span><span dir="LTR" style="background:yellow"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span dir="LTR">&nbsp;</span></p>

<h3 dir="RTL" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
direction:rtl;unicode-bidi:embed"><span lang="HE" style="font-size:11.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">ברירת דין וסמכות שיפוט</span></h3>

<h3 dir="RTL" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
direction:rtl;unicode-bidi:embed"><span dir="LTR" style="font-size:11.0pt;
font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;;font-weight:normal">&nbsp;</span></h3>

<p dir="RTL" style="margin:0cm;margin-bottom:.0001pt;text-align:justify;
direction:rtl;unicode-bidi:embed"><span lang="HE" style="font-size:11.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">על השימוש באתר יחולו אך ורק דיני מדינת ישראל</span><span dir="LTR"></span><span dir="LTR" style="font-size:11.0pt;font-family:&quot;Calibri&quot;,&quot;sans-serif&quot;"><span dir="LTR"></span>.</span></p>

<p class="MsoNormal" dir="RTL" style="text-align:justify"><span dir="LTR">&nbsp;</span></p>

</div>
</div>
    </p>
  </div>
  
</div>