<div class="input-append">
	<p class="muted">Uploade excel file from PC</p>
	<%= form_tag({:action => :upload, :controller=> :upload}, :multipart => true) do %>
	  <%= file_field_tag 'data_file' ,:required => true%>
	<%=hidden_field_tag('user', value = @user.id)%>
	  <%= submit_tag 'Upload', :class=>"btn", :required => true%>		
		<% end %>
		<hr />	
</div>
	