<!-- Button to trigger modal -->

 
<!-- Modal -->
<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload csv file from PC</h3>
  </div>
  <div class="modal-body">
    <p>Upload your csv file.</p>
    <%=render 'upload'%>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>   
  </div>
</div>