<!-- Button to trigger modal -->

 
<!-- Modal -->
<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">טעינת קובת אקסל או CSV ממחשבך</h3>
  </div>
  <div class="modal-body">
    <p>טען קובץ אקסל או CSV ממחשבך</p>
    <%=render 'upload'%>
  </div>
  <img src="/assets/accepted file formats.png" />
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">סגור</button>   
  </div>
</div>