
<!-- INFO: The post URL "checkout.PHP" is invoked when clicked on "Pay with PayPal" button.-->


<!-- Add Digital goods in-context experience. Ensure that this script is added before the closing of html body tag -->



<form action='checkout' METHOD='post'>
	<input id="payment_amount" name="payment[amount]" type="hidden" value="1">
	<input id="payment_digital" name="payment[digital]" type="hidden" value="true">
	<input id="payment_recurring" name="payment[recurring]" type="hidden" value="false">
	<input id="payment_popup" name="payment[popup]" type="hidden" value="true">
	<input type='image' name='paypal_submit' id='paypal_submit'  src='https://www.paypal.com/en_US/i/btn/btn_dg_pay_w_paypal.gif' border='0' align='top' alt='Pay with PayPal'/>
</form>

<%=@gateway%>
