<div id="about" class="container-fluid">
	
	<p></p>
	<span style='font-size:11.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>ברוכים הבאים לאתר </span><span style='font-size:14.0pt;
	mso-bidi-font-size:16.0pt;line-height:115%;font-family:Forte;mso-fareast-font-family:
	Batang;mso-bidi-font-family:Arial;color:red;background:white'>mazminim!</span><span
	style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>
	<span style='font-size:11.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>
	<p>אנו מציגים בפניכם שירות חדש אשר יסייע לכם בארגון האירוע ווידוא הגעת המוזמנים בצורה אוטומטית!</p>
	<p>השירות מאפשר התקשרות אוטומטית למספר רב של מוזמנים במקביל תוך השמעת הזמנתכם הקולית בצירוף בקשה לאשר\לדחות את הגעת האורח לאירוע. בתום תהליך ההתקשרות תקבלו דוח מפורט אודות סטטוס הגעת כל מוזמן ומוזמן מהרשימה </p>
	<p>בכדי לחסוך את הזמן שלכם בארגון אירוע ו\או כנס תצטרכו: </p>
	<ul>
	<li>להקליט הזמנה</li>
	<li>ליצור רשימת מוזמנים</li>
	<li>להמתין מספר דקות על מנת לאפשר למערכת להתקשר לרשימת כלל המוזמנים במקביל</li> 
	<li>לבסוף אתם מקבלים דו"ח אשר מציג את כמות המוזמנים אשר אישרו את הגעתם, אלה שדחו ואלה שמתלבטים!</li>  
	</ul>
	
	</span>
</div>
