<div id="about">
<body lang=EN-US>
	<div>		
	<p></p>
	<span style='font-size:11.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>Welcome to </span><span style='font-size:14.0pt;
	mso-bidi-font-size:16.0pt;line-height:115%;font-family:Forte;mso-fareast-font-family:
	Batang;mso-bidi-font-family:Arial;color:red;background:white'>mazminim!</span><span
	style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>
<p>We would like to introduce a new service to help you organize any celebration or event which requires massive number of invitations to be sent to the guests and provides a quick and simple report regarding their status of arrival.</p>
<p><h7>We want to save your time in organizing such events/conferences and provide you with complete results in minutes!</h7></p>
<strong>All you need is:</strong>
	<ul>
		<li>Record you message</li>
		<li>Setup you invitees list</li>
		<li>Hit Start & wait while the system calls in parallel all your invitees</li>
		<li>Get the results in minutes!<sup>*</sup></li>
	</ul>
<p><sup>*</sup>The system will try to reach the user in case of no answer twice, with an interval of 5 and 10 minutes in between.</p>
<p>The report shows the amount of guests who have confirmed their attendance and those who declined.</p>	
	</div>

</body>
	
</div>
