<div class="row">
	<p class="lead">How to !</p>

<ul class="nav nav-tabs nav-stacked">
  <li><a href="#">How to record audio</a></li>
  <li><a href="#">How to: add invites</a></li>
  <li><a href="#">How to: ivent location google</a></li>
  <li><a href="#">How to: call</a></li>
  <li><a href="#">How to: uploade excel file</a></li>
  <li><a href="#">How to: get report</a></li>
  <li><a href="#">How to: see history payments</a></li>
  <li><a href="#">How to: connect google contacts</a></li>
</ul>

</div>