<div class="row">
	<p class="lead">סרטוני הדרכה</p>
<ul class="nav nav-tabs nav-stacked">
  <li><a href="#" onclick=$("#video_main").attr('src','')>סרטוני הדרכה</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/lYFMTiubEaw')>כיצד להקליט אודיו?</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/S8SMGR8RdLk')>כיצד ליצור רשימת מוזמנים?</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/TxxLlEDBb54')>כיצד להתחיל בתהליך התקשרות?</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/UcgfbUzMWkc')>כיצד לטעון קובץ אנשי קשר?</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/fYDIMd1MJ18')>כיצד לבדוק היסטוריית הזמנות?</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/exyZM2W0eTk')>כיצד לייבא אנשי קשר מחשבון גוגל?</a></li>
</ul>
</div>

