<div class="row">
	<p class="lead">How to !</p>
<ul class="nav nav-tabs nav-stacked">
  <li><a href="#" onclick=$("#video_main").attr('src','')>Getting Started Guides</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/lYFMTiubEaw')>How to record audio</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/S8SMGR8RdLk')>How to: add invites</a></li>
  <li><a href="#">How to: ivent location google</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/TxxLlEDBb54')>How to: start call process</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/UcgfbUzMWkc')>How to: uploade excel file</a></li>
  <li><a href="#">How to: get report</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/fYDIMd1MJ18')>How to: see history payments</a></li>
  <li><a href="#" onclick=$("#video_main").attr('src','http://www.youtube.com/embed/exyZM2W0eTk')>How to: connect google contacts</a></li>
</ul>
</div>

