<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Retrieving user password form.</h3>
		  </div>
		  <div class="modal-body">
		    <p>
		    	<div class="control-group">						  	  
			    		<%= render :partial  =>'password_resets/new'%>
			    		<!--
		    			<form>
						  <fieldset>
						    <legend>Password</legend>
						    <label>Email address of registered user.</label>
						    <input type="text" placeholder="Type your email…">
						    <span class="help-block">Example: Jonathan.wan@gmail.com</span>
						    
						    <button type="submit" class="btn btn-primary">Submit</button>
						  </fieldset>
						</form>
						-->    
		  		</div>
		    </p>
		  </div>
		  <div class="modal-footer">
		    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
		    
		  </div>
		</div>
<!--Modal-->