<ul id="speach" class="nav-list">

<ul><strong>Web browser supported.</strong>
<li> Google chrome</li>
<li> FireFox</li>
<li> Opera</li>	
</ul>
  <hr />                
<ul><strong>Using experemental module (WAMI).</strong>	
	<li>
		<p>Ubuntu flash player requered: this will http://get.adobe.com/flashplayer/?no_redirect</p>	
	</li>
</ul>
		    