<div id="about">
<body lang=EN-US>
	<div>
		
	<p></p>
	<span style='font-size:11.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>Welcome to </span><span style='font-size:14.0pt;
	mso-bidi-font-size:16.0pt;line-height:115%;font-family:Forte;mso-fareast-font-family:
	Batang;mso-bidi-font-family:Arial;color:red;background:white'>mazminim!</span><span
	style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>
<p>We would like to introduce a new service to help you organize any celebration or event which requires massive number of invitations to be sent to the guests and provides a quick and simple report regarding their status of arrival.</p>
<p>Let's take a wedding for example - weddings are usually organized for a large number of invitees. The organizer is initially supposed to call large number of people in order to inform them regarding the wedding, and, second time he calls to make sure the guests arrive just few days before the wedding (that is in order to be precise in the amount of dishes, so that he won't pay extra money)</p>
<p>Simple arithmetic shows: An event for 300 invitees requires 300 outgoing calls with average of 1 minute per call yields 300 minutes or 5 hours. That is a lot of wasted time!</p>
<p><h7>We want to save your time in organizing such events/conferences and provide you with complete results in minutes!</h7></p>
<strong>All you need is:</strong>
	<ul>
		<li>Record you message</li>
		<li>Setup you invitees list</li>
		<li>Hit Start & wait while the system calls in parallel all your invitees</li>
		<li>Get the results in minutes!<sup>*</sup></li>
	</ul>
<p><sup>*</sup>The system will try to reach the user in case of no answer twice, with an interval of 5 and 10 minutes in between.</p>
<p>The report shows the amount of guests who have confirmed their attendance and those who declined.</p>	
	</div>
<br />
<div class="row" align="center">
		<a href="https://www.facebook.com/pages/Mazminim/171598539663272?fref=ts">			
			<span class="label label-info span2 offset1"><h4>Facebook</h4></span>	
		</a>
		<a href="https://plus.google.com/u/1/106517086350018828152/posts">
			<span class="label label-important span2 offset1"><h4>Google+</h4></span>
		</a>
</div>
</body>
	
</div>
