<div id="about">
<body lang=EN-US>

	
	<div>
	<p></p>
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>Welcome to </span><b><span style='font-size:14.0pt;
	mso-bidi-font-size:16.0pt;line-height:115%;font-family:Forte;mso-fareast-font-family:
	Batang;mso-bidi-font-family:Arial;color:red;background:white'>mazminim</span></b><span
	style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>! We would like to introduce a new service that will help you
	organize the celebration or (another event) and save your precious time</span><span
	dir=RTL></span><span lang=HE dir=RTL style='font-size:10.0pt;line-height:115%;
	font-family:"Arial","sans-serif";background:white'><span dir=RTL></span>!</span><span
	dir=LTR></span><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'><span dir=LTR></span> Our service is very useful for
	informing/order or confirmation of the arrival of a large number of invited.</span>
	<span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>For example a wedding, weddings in Israel usually organized a
	large number of invited.</span> <span style='font-size:10.0pt;line-height:115%;
	font-family:"Arial","sans-serif";background:white'>Should call for a large
	number of people to inform them about a wedding and a week before the event we
	want to make sure the guests arrive. To be precise in amount of dishes, in
	order not to pay extra money.<o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>For example: Event size of 300,</span> <span
	style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>talk with each invited two minutes on average, after a simple
	calculation we get 600 minutes or 10 hours. A lot of wasted time!<o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><i><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>Want to save your precious time organizing event or
	conference?</span></i><span style='font-size:10.0pt;line-height:115%;
	font-family:"Arial","sans-serif";background:white'> <b><i><span
	style='color:#00B050'>You are in the right place!</span></i></b><o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>All you need is:<o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>• Computer<o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>• Internet connection<o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>• 15 minutes of your precious time<o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:justify;direction:ltr;unicode-bidi:
	embed'><span style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>Finally you get a report that shows the amount of guests who
	have confirmed their attendance, not confirmed, wrestling.<o:p></o:p></span></p>
	
	<p class=MsoNormal dir=LTR style='text-align:left;direction:ltr;unicode-bidi:
	embed'><o:p>&nbsp;</o:p></p>
	
	</div>

</body>

</html>

	
</div>
