<div id="about">
	<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1255">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Batang;
	panose-1:2 3 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:Batang;
	panose-1:2 3 6 0 0 1 1 1 1 1;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:Forte;}
@font-face
	{font-family:"\@Batang";
	panose-1:2 3 6 0 0 1 1 1 1 1;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0cm;
	margin-right:0cm;
	margin-bottom:10.0pt;
	margin-left:0cm;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0cm;
	margin-bottom:.0001pt;
	text-align:right;
	direction:rtl;
	unicode-bidi:embed;
	font-size:8.0pt;
	font-family:"Tahoma","sans-serif";}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:10.0pt;
	margin-left:0cm;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:0cm;
	margin-left:0cm;
	margin-bottom:.0001pt;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0cm;
	margin-right:36.0pt;
	margin-bottom:10.0pt;
	margin-left:0cm;
	text-align:right;
	line-height:115%;
	direction:rtl;
	unicode-bidi:embed;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Tahoma","sans-serif";}
.MsoChpDefault
	{font-family:"Calibri","sans-serif";}
.MsoPapDefault
	{margin-bottom:10.0pt;
	line-height:115%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:49.65pt 63.7pt 72.0pt 2.0cm;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=EN-US>

<div class=WordSection1 dir=RTL>

<p class=MsoNormal dir=RTL><b><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>על השירות</span></b></p>

<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:justify;text-justify:inter-ideograph;line-height:normal'><span
lang=HE style='font-size:9.0pt;font-family:"Arial","sans-serif";background:
white'>ברוכים הבאים לאתר </span><b><span dir=LTR style='font-size:14.0pt;
font-family:Forte;color:red;background:white'>mazminim</span></b><span dir=RTL></span><span
lang=HE style='font-size:9.0pt;font-family:"Arial","sans-serif";background:
white'><span dir=RTL></span>! אנו רוצים להציג בפניכם <s>תוכנה</s></span><span
dir=LTR></span><span lang=HE dir=LTR style='font-size:9.0pt;font-family:"Arial","sans-serif";
background:white'><span dir=LTR></span> </span><span dir=RTL></span><span
lang=HE style='font-size:9.0pt;font-family:"Arial","sans-serif";background:
white'><span dir=RTL></span> [<span style='background:yellow'>שירות</span>] אשר
</span><span dir=LTR></span><span dir=LTR style='font-size:9.0pt;font-family:
"Arial","sans-serif";background:white'><span dir=LTR></span>,</span><span
lang=HE style='font-size:9.0pt;font-family:"Arial","sans-serif";background:
white'>תסייע לכם בארגון אירוע ותכסוך את הזמן היקר שלכם! <s>התוכנה</s> מיועד<s>ת</s>
ליידוע/הזמנה או וידוי הגעה של מספר רב של מוזמנים. ניקח לדוגמה חתונה, חתונות
בישראל בדרכך כלל מאורגנות לכמות מכובדת של מוזמנים. עלינו להתקשר למספר רב של
אנשים ע&quot;מ ליידע אותם על אירוע חתונה ושבוע לפני האירוע נרצה לוודא  שאכן מגיעים,
כדי לדייק בכמות המנות, ולא לשמם לשוא.</span></p>

<p class=MsoNormal dir=RTL style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:justify;text-justify:inter-ideograph'><span lang=HE
style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
background:white'>לדוגמא: אירוע בסדר גודל של 300 איש, שיחה עם כל מוזמן 2 דקות
בממוצע. אחרי חישוב פשוט נקבל 600 דקות או 10 שעות. המון זמן מבוזבז! </span></p>

<p class=MsoNormal dir=RTL><i><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>רוצים לחסוך
את הזמן היקר שלכם  בארגון אירוע או כנס ? אתם במקום הנכון !  </span></i></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>כל מה
שתצטרכו הוא: </span></p>

<p class=MsoListParagraphCxSpFirst dir=RTL style='text-indent:-18.0pt'><span
style='font-size:9.0pt;line-height:115%;font-family:Symbol;color:black'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=RTL></span><span lang=HE style='font-size:9.0pt;
line-height:115%;font-family:"Arial","sans-serif";color:black;background:white'>מחשב</span></p>

<p class=MsoListParagraphCxSpMiddle dir=RTL style='text-indent:-18.0pt'><span
style='font-size:9.0pt;line-height:115%;font-family:Symbol;color:black'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=RTL></span><span lang=HE style='font-size:9.0pt;
line-height:115%;font-family:"Arial","sans-serif";color:black;background:white'>חיבור
לאינטרנט</span></p>

<p class=MsoListParagraphCxSpLast dir=RTL style='text-indent:-18.0pt'><span
dir=RTL></span><span style='font-size:9.0pt;line-height:115%;font-family:Symbol;
color:black'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=RTL></span><span dir=RTL></span><span lang=HE
style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black;background:white'><span dir=RTL></span>15 דקות מזמנכם היקר</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>לבסוף אתם
מקבלים דו&quot;ח אשר מציג את כמות המוזמנים אשר אישרו את הגעתם, לא אישרו,
ומתלבטים.</span></p>

<p class=MsoNormal dir=RTL><b><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>איך זה עובד</span></b></p>

<p class=MsoNormal dir=RTL><img width=284 height=94
src="image001.jpg" align=left
hspace=12><span lang=HE style='font-size:9.0pt;line-height:115%;font-family:
"Arial","sans-serif";color:black;background:white'>בעזרת אתר  &quot;</span><span
dir=LTR style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black;background:white'>mazminim.com </span><span dir=RTL></span><span
lang=HE style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black;background:white'><span dir=RTL></span> &quot;<b>,</b>תוכלו  להתקשר
לכל המוזמנים בלחיצת כפתור אחת. כל מה שצריך לעשות לפעול ע&quot;פ שלושה צעדים
הבאים:</span></p>

<p class=MsoListParagraph dir=RTL style='text-indent:-18.0pt'><span
style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=RTL></span><span lang=HE style='font-size:9.0pt;
line-height:115%;font-family:"Arial","sans-serif";color:black;background:white'>מקליטים
&quot;נאום&quot; ,במידה ואהבתם לחצו על הכפתור הירוק ע&quot;מ לשמור את ההקלטה.</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><img width=288 height=88
src="ABOUT%20ניסיוני%20ישמצב%20למלא%20טעויות_files/image002.jpg" align=left
hspace=12></p>

<p class=MsoListParagraph dir=RTL style='text-indent:-18.0pt'><span
style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=RTL></span><span lang=HE style='font-size:9.0pt;
line-height:115%;font-family:"Arial","sans-serif";color:black;background:white'>ממלאים
פרטי מוזמנים בטבלה . (אם יש לכם גיבוי של  ספר טלפונים ב-</span><span dir=LTR
style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black;background:white'>excel</span><span dir=RTL></span><span lang=HE
style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black;background:white'><span dir=RTL></span> תוכלו פשוט להעלות את קובץ
עם הפרטים  לאתר)</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span dir=LTR style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoListParagraph dir=RTL style='text-indent:-18.0pt'><span
style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=RTL></span><span lang=HE style='font-size:9.0pt;
line-height:115%;font-family:"Arial","sans-serif";color:black;background:white'>לוחצים
 על כפתור </span><span dir=LTR style='font-size:9.0pt;line-height:115%;
font-family:"Arial","sans-serif";color:black;background:white'>Call</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>בסיום ביצוע
תשלום במודול </span><span dir=LTR style='font-size:9.0pt;line-height:115%;
font-family:"Arial","sans-serif";color:black;background:white'>paypal</span><span
dir=RTL></span><span lang=HE style='font-size:9.0pt;line-height:115%;
font-family:"Arial","sans-serif";color:black;background:white'><span dir=RTL></span>
, התוכנה מחייגת לכל היעדים בו-זמנית וכעבור מספר דקות מפיקה דו&quot;ח אשר מציג
את כמות המוזמנים אשר אישרו את הגעתם, לא אישרו, ומתלבטים. במידה ולא היה מענה ,
התוכנה  זוכרת את מספרי הטלפון הללו ומחייגת אליהם שוב במועד מאוחר יותר. </span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span dir=LTR style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:9.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL style='text-align:justify;text-justify:inter-ideograph'><span
lang=HE style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL style='text-align:justify;text-justify:inter-ideograph'><span
lang=HE style='font-size:9.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL style='text-align:justify;text-justify:inter-ideograph'><span
lang=HE style='font-size:16.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span dir=LTR style='font-size:16.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span dir=LTR style='font-size:16.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span dir=LTR style='font-size:16.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>&nbsp;</span></p>

<p class=MsoNormal dir=RTL><span dir=LTR style='font-size:16.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>                                                                     Secretary
Call Project</span></p>

<p class=MsoNormal dir=LTR style='text-align:left;direction:ltr;unicode-bidi:
embed'><span style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050;background:white'>Abstract</span><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial","sans-serif";color:#00B050;background:
white'>.</span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>Product
which will be presented below is a program which is a support tool for
notification of a large number of people about the upcoming events, or to
invite a large number of people to the event, such as a wedding, conference or
presentation. </span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>The program
does not require installation so enough to have a network connection and a web
browser, so any Internet user can use it, no matter what device he uses, be it
a computer, tablet or Smartphone.</span><span style='color:#00B050'> </span><span
style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050;background:white'>All the user needs only: register, make a list
of telephone numbers of people that will be addressed to the invitation,</span><span
style='color:#00B050'> </span><span style='font-size:10.0pt;line-height:115%;
font-family:"Arial","sans-serif";color:#00B050;background:white'>fit in the
specified field phone number, which will see subscribers received a call (in
most cases, your phone number), to record invitation directly on the page of
our program and press start. After pressing the &quot;start&quot; button to
start the program call-up subscribers listed in the table above.</span><span
style='color:#00B050'> </span><span style='font-size:10.0pt;line-height:115%;
font-family:"Arial","sans-serif";color:#00B050;background:white'>XYZ can be
performed in parallel to the 1000 calls, so in a few minutes, the user gets the
XYZ report, which will present the following items data:</span><span
style='color:#00B050'> </span><span style='font-size:10.0pt;line-height:115%;
font-family:"Arial","sans-serif";color:#00B050;background:white'>how many of
these subscribers will listen to your invitation, how many of them accepted it
and how many of them abandoned, and how much at the moment cannot precisely
determine the answer, because of some reasons.</span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>Technology</span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>……………</span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>Logic</span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:14.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>Our
program works by the following logic:</span></p>

<p class=MsoListParagraphCxSpFirst dir=LTR style='margin-top:0cm;margin-right:
0cm;margin-bottom:10.0pt;margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;direction:ltr;unicode-bidi:embed'><span
style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>At the
time when the user makes a telephone table in the tab AAAA, create a local
database for the registered user on our server.</span></p>

<p class=MsoListParagraphCxSpLast dir=LTR style='margin-top:0cm;margin-right:
0cm;margin-bottom:10.0pt;margin-left:36.0pt;text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;direction:ltr;unicode-bidi:embed'><span
style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'> while
clicking on the &quot;Call&quot;, the program produces a parallel calls to the
telephone number on the table, this operation is performed by TTTTT</span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>……………………..</span></p>

<p class=MsoNormal dir=LTR style='text-align:left;direction:ltr;unicode-bidi:
embed'><span style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:#00B050;background:white'>Instructions for using</span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:#00B050;background:white'>You can
find all the necessary instructions for the use of this software in the Help
tab.</span><span style='color:#00B050'> </span><span style='font-size:10.0pt;
line-height:115%;font-family:"Arial","sans-serif";color:#00B050;background:
white'>Help tab contains a dynamic menu, which lists the stages of this
program, just go to the item in order to get the required explanation. All
explanations are presented in the form of short clips, it simplifies, and in
our opinion makes allowance for a more convenient and effective </span></p>

<p class=MsoNormal dir=LTR style='text-align:justify;text-justify:inter-ideograph;
direction:ltr;unicode-bidi:embed'><span style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif";color:black;background:white'>&nbsp;</span></p>

<span style='font-size:14.0pt;line-height:115%;font-family:"Arial","sans-serif";
color:black;background:white'><br clear=all>
</span>

<p class=MsoNormal dir=RTL><span lang=HE style='font-size:10.0pt;line-height:
115%;font-family:"Arial","sans-serif"'>אני התחתנתי לפני שנה, חתונה שלי  לא היתה
כל כך בומבסטים משהו כמו 150 איש, חברי הכי קרובים וקרובי משפחה. אני זוכר שישבתי
שבוע לפני האירוע מול הרשימה</span></p>

</div>

</body>

</html>

	
</div>
