<div id="about1">
<body lang="heb">
	<div>
		
	<p></p>
	<span style='font-size:11.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>ברוכים הבאים לאתר </span><span style='font-size:14.0pt;
	mso-bidi-font-size:16.0pt;line-height:115%;font-family:Forte;mso-fareast-font-family:
	Batang;mso-bidi-font-family:Arial;color:red;background:white'>mazminim!</span><span
	style='font-size:10.0pt;line-height:115%;font-family:"Arial","sans-serif";
	background:white'>
	<p>אנו מציגים בפניכם שירות חדש אשר יסייע לכם בארגון האירוע ווידוא הגעת המוזמנים!</p>
	<p>השירות מאפשר התקשרות אוטומטית למספר רב של מוזמנים במקביל תוך השמעת הזמנתכם הקולית בצירוף בקשה לאשר\לדחות את הגעת האורח לאירוע. בתום תהליך ההתקשרות תקבלו דוח מפורט אודות סטטוס הגעת כל מוזמן ומוזמן מהרשימה </p>
	<p>בכדי לחסוך את הזמן שלכם בארגון אירוע ו\או כנס תצטרכו: </p>
	<ul>
	<li>להקליט הזמנה</li>
	<li>ליצור רשימת מוזמנים</li>
	<li>להמתין מספר דקות על מנת לאפשר למערכת להתקשר לרשימת כלל המוזמנים במקביל</li> 
	<li>לבסוף אתם מקבלים דו"ח אשר מציג את כמות המוזמנים אשר אישרו את הגעתם, אלה שדחו ואלה שמתלבטים!</li>  
	</ul>
	
	<p><h4>חסכו זמן!</h4></p>
	ניקח לדוגמה חתונה - חתונות בישראל בדרך כלל מאורגנות לכמות מכובדת של מוזמנים. עלינו להתקשר למספר רב של אנשים על מנת ליידע אותם על אירוע חתונה ושבוע לפני האירוע נרצה לוודא  שאכן מגיעים, כדי לדייק בכמות המנות, ולא לשלם לשוא.
<p>כלומר: עבור אירוע בסדר גודל של 300 איש ושיחה עם כל מוזמן בעלת 2 דקות בממוצע נקבל 600 דקות או 10 שעות. המון זמן מבוזבז!<p>
<h3>רוצים לחסוך את הזמן היקר שלכם  בארגון אירוע או כנס ? אתם במקום הנכון !</h3> 

<p><h4>איך זה עובד?</h4></p>
בעזרת אתר  mazminim.com תוכלו  להתקשר לכל המוזמנים בלחיצת כפתור אחת. כל מה עליכם לעשות זה לפעול ע"פ שלושה צעדים הבאים:
<ol>
<li>מקליטים "נאום" או הודעת הזמנה. במידה ואהבתם ממשיכים לשלב הבא.</li>
<li>ממלאים פרטי המוזמנים ברשימה. (אם יש לכם גיבוי של  ספר טלפונים ב-excel תוכלו פשוט להעלות את קובץ הפרטים  לאתר)</li>
<li>המערכת תדאג לכל היתר! התוכנה מחייגת לכל היעדים בו-זמנית וכעבור מספר דקות מפיקה דו"ח אשר מציג את כמות המוזמנים אשר אישרו את הגעתם, אלה שדחו ואלה שמתלבטים. במידה ולא היה מענה, המערכת תבצע חיוג חוזר במועד מאוחר יותר</li>
</ol>
 

	</div>

<p></p>
<div class="row" align="center">בקרו אותנו!
		<a href="https://www.facebook.com/pages/Mazminim/171598539663272?fref=ts">			
			<span class="label label-info span2 offset1"><h4>Facebook</h4></span>	
		</a>
		<a href="https://plus.google.com/u/1/106517086350018828152/posts">
			<span class="label label-important span2 offset1"><h4>Google+</h4></span>
		</a>
</div>
</body>
	
</div>
