<div class="row-fluid">
	<div class="span5">
			<p>Contacts and information</p>
		<address>
			  <strong>Mazminim.com</strong><br>
			  Urugway 28, Suite x<br>
			  Jerusalem, IL 93906<br>
			  <abbr title="Phone number">P: </abbr> (972) 54-2110388.
			</address>
			 
			<address>
			  <dl>
				  <dt>Technical support</dt>
				  <dd><a href="mailto:#">mazminim.support@gmail.com</a></dd>
				  <dt>Business & Marketing</dt>
				  <dd><a href="mailto:#">mazminim.marketing@gmail.com</a></dd>
				</dl>	  
			  
		</address>	
	</div>
<div class="span5">	
			
		
</div>
</div>