<div class="row-fluid">
	<div class="span5">
			<p>Contacts and information</p>
		<address>
			  <strong>Mazminim.com</strong><br>
			  Urugway 28, Suite x<br>
			  Jerusalem, IL 93906<br>
			  <abbr title="Phone number">P: </abbr> (972) 054-4464204.
			</address>
			 
			<address>
			  
				  <strong>Business & Marketing</strong>
				 <blockquote>
				 <dl>
				  <code>
			  		Alex Kostenko:			  				  	
				  	<a href="https://www.facebook.com/okno8">Alex Kostenko</a>			  	
				  	<a href="mailto:konox92@gmail.com">konox92@gmail.com</a>
		  		  </code>
				 </dl>
				</blockquote>
					
			</address>	
			<br />
				<strong>Developers:</strong>
				<blockquote>			  	
			  	<dl>
			  	<code>
			  		Yuri Shterenberg:			  				  	
				  	<a href="https://www.facebook.com/yura.sh">Yuri Facebook</a>			  	
				  	<a href="mailto:yuri.shterenberg@gmail.com">yuri.shterenberg@gmail.com </a>
			  	</code>
			  	</dl>
				
				<dl>
				<code>
					Lev Borzunov:
					<a href="https://www.facebook.com/lefontiy">Lev Facebook</a>			  	
			  		<a href="mailto:lefontiy@gmail.com">lefontiy@gmail.com</a>	
				</code>	
				</dl> 	
							</blockquote>
	</div>
<div class="span5">	
</div>
</div>