<div class="row-fluid">
	<div class="span5">
			<p>Contacts and information</p>
		<address>
			  <strong>Mazminim.com</strong><br>
			  Urugway 28, Suite x<br>
			  Jerusalem, IL 93906<br>
			  <abbr title="Phone number">P: </abbr> (972) 054-4464204.
			</address>
			 
			<address>
			  <dl>
				  <dt>Technical support/Business & Marketing</dt>
				  <dd><a href="mailto:mazminim.com@gmail.com">mazminim.com@gmail.com</a></dd>
				 
				</dl>
			</address>	
			<br />
				<strong>Developers:</strong>
			  	<hr />
			  	<code>
			  		Yuri Shterenberg:			  				  	
				  	<a href="https://www.facebook.com/yura.sh">Yuri Facebook</a>			  	
				  	<a href="mailto:yuri.shterenberg@gmail.com">yuri.shterenberg@gmail.com</a>
			  	</code>
				<br />
				<br />
				<code>
					Lev Borzunov:
					<a href="https://www.facebook.com/lefontiy">Lev Facebook</a>			  	
			  		<a href="mailto:#">yuri.shterenberg@gmail.com</a>	
				</code>
			  	
			
	</div>
<div class="span5">	
</div>
</div>