<div class="well well-small" style="background-color: pink">	
	<div>
		<img src="assets/<%=category.name%>.png">
	</div>
	<div><%= link_to category.name, category, :class=>'class="btn btn-large btn-block btn-primary' %></div>	
</div>

