 <div class="row-fluid row"> 	
    <div class="span4">
      <div class="well sidebar-nav-fixed">
      	<ul>      		
      		
      		
      	</ul>
        <ul class="nav nav-list">          
          <li class="active"><a href="http://www.bshmuel-hotel.com/">Beit Shmuel</a></li>
          <li><a href="http://arca.mitchatnim.co.il/">ארקה</a></li>
          
          <li class="nav-header">Top 10</li>

          <li><a href="#">Link</a></li>

          <li class="nav-header">Top 20</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        
      </div>
      
    </div><!--/span-->


	</div><!--/span-->

